header {
  height: 4.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid blue;
  padding-left: 5rem;
  padding-top: 0.5rem;
}

body {
  margin-bottom: 6rem;
}

footer {
  text-align: center;
  height: 5rem;
  background-color: #107acc;
  width: 100%;
}

.card-link {
  text-decoration: none;
}

.list-card{
  height: 450px;
  transition: transform 1s ease;
}

.img-list {
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 1s ease;
}

.list-card:hover .img-list {
  transform: scale(1.1);
}

.img-container {
  position: relative;
  overflow: hidden; /* Asegura que el zoom no desborde el contenedor */
  height: 200px;
  border-radius: 20px;
}

.no-underline {
text-decoration: none;
color: lightgray;
}


.custom-description {
  padding-top: 1.5rem; 
  color: #333;
}

.footer-link{
  color: white
}

.social-icon{
  width: 35px;
}

.detail-img{
  border-radius: 20px;
}

.detail-container {
  background-color: #fbf1e9;
  border-radius: 20px;
}

.detail-container .container {
  padding-left: 30px;
  padding-right: 30px;
}

.detail-description {
  max-width: 70%;
  margin-top: 20px;
}

.offer-button{
  background-color: #107acc;
}

.card-body {
  flex: 1 1 auto; /* Permite que el cuerpo de la tarjeta crezca según sea necesario */
  overflow: hidden; /* Oculta cualquier contenido desbordante */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacia los elementos dentro del cuerpo */
}

.search-form {
  max-width: 300px;
  padding-right: 10px;
}

.search-button:hover{
  color: white;
  background-color: #107acc;
  
}

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  margin-bottom: 5rem;
}