header {
    height: 4.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid blue;
    padding-left: 5rem;
    padding-top: 0.5rem;
  }

body {
    margin-bottom: 6rem;
  }

footer {
    text-align: center;
    padding-top: 2rem;
    position: fixed;
    bottom: 0;
    height: 5rem;
    background-color: blue;
    width: 100%;
    border-top: 1px solid lightgray;
  }
  
.img-list {
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }