header {
  height: 8rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

body {
  margin-bottom: 6rem;
}

footer {
  text-align: center;
  height: 5rem;
  background-color: #107acc;
  width: 100%;
}

.img-logo{
  max-width: 100px;
  height: auto;
}

.logo-text {
  color: #16498C;
  font-size: 2rem; 
  font-weight: bold; 
}

a.text-decoration-none {
  text-decoration: none !important;
}

text-decoration-none {
  text-decoration: none !important;
}

.card-link {
  text-decoration: none;
}

.list-card{
  height: 450px;
  transition: transform 1s ease;
}

.img-list {
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 1s ease;
}

.list-card:hover .img-list {
  transform: scale(1.1);
}

.img-container {
  position: relative;
  overflow: hidden;
  height: 200px;
  border-radius: 20px;
}

.no-underline {
text-decoration: none;
color: lightgray;
}


.custom-description {
  padding-top: 1.5rem; 
  display: block;
  width: 100%;
  white-space: normal;
}

.footer-link{
  color: white
}

.social-icon{
  width: 35px;
}

.detail-img{
  border-radius: 20px;
}

.detail-container {
  background-color: #fbf1e9;
  border-radius: 20px;
}

.detail-container .container {
  padding-left: 30px;
  padding-right: 30px;
}

.detail-description {
  max-width: 70%;
  margin-top: 20px;
}

.button-style{
  background-color: #16498C;
  color: white;
  border-color: #16498C;
  margin-bottom: 10px;
}

.button-style:hover{
  background-color: #418EF2;
  border-color: #418EF2;
}

.button-container {
  margin-bottom: 30px; /* Espacio entre los contenedores de botones */
}

.card-body {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-form {
  max-width: 300px;
  padding-right: 10px;
}

.warning-container{
  background-color: #fbf1e9;
  border-radius: 20px;
  padding: 1rem;
}

.about-us-container{
  padding: 1rem;
}


.search-button:hover{
  color: white;
  background-color: #107acc;
  
}

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  margin-bottom: 5rem;
}

/* error 404 */

.error-template {
  padding: 40px 15px;
  margin: 0 auto;
}

.error-template h1 {
  font-size: 120px;
  font-weight: bold;
  color: #e74c3c;
}

.error-template h2 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
}

.error-template .lead {
  font-size: 20px;
  margin-bottom: 30px;
}

.error-template .btn {
  font-size: 18px;
  padding: 10px 20px;
}