{% extends "base.html" %}
{% block contents %}

<div class="row" id="posts-container">
    {% include "post/posts_list_page_contain.html" %}
</div>
{% if posts.has_next %}
    <div class="text-center mt-4">
        <button id="load-more" class="btn btn-primary" data-next-page="{{ posts.next_page_number }}">Mostrar más ofertas</button>
    </div>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let page = 2;
        const loadMoreButton = document.getElementById('load-more');

        loadMoreButton.addEventListener('click', function() {
            fetch(`?page=${page}`)
                .then(response => response.text())
                .then(data => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(data, 'text/html');
                    const newPosts = doc.getElementById('posts-container').innerHTML;
                    const postsContainer = document.getElementById('posts-container');
                    postsContainer.insertAdjacentHTML('beforeend', newPosts);

                    // Check if there are more pages to load
                    if (doc.querySelector('#load-more')) {
                        page += 1;
                    } else {
                        loadMoreButton.style.display = 'none';
                    }
                })
                .catch(error => console.log('Error:', error));
        });
    });
</script>
{% endblock %}
