{% extends "base.html" %}
{% block contents %}
<div class="container warning-container">
    <div class="about-us-container">
    <h1>Sobre Nosotros</h1>
      <p>
          En RinconViajero, nuestra misión es hacer que viajar sea una experiencia accesible y memorable para todos. Somos una plataforma 
          de viajes que se dedica a inspirar a los viajeros a encontrar y disfrutar de las mejores ofertas de viajes disponibles. Nuestro 
          equipo de expertos selecciona cuidadosamente propuestas con la mejor relación calidad-precio, abarcando desde paquetes de vacaciones, 
          vuelos y hoteles, hasta alquileres de coches, casas vacacionales y escapadas de fin de semana.
      </p>
        
      <p>
          Colaboramos con marcas líderes para ofrecer planes exclusivos que no se encuentran en ningún otro lugar. En RinconViajero, nos encargamos 
          de ahorrar tiempo y esfuerzo a nuestros usuarios al buscar y compartir diariamente auténticas oportunidades de viaje. Estas ofertas se pueden 
          encontrar en nuestra página web, así como a través de nuestras redes sociales.
      </p>
      
      <p>
          Nuestra estrategia multicanal es una de las características que nos define, permitiéndonos conectar con una audiencia en pleno crecimiento.
      </p>
    </div>

    <div class="about-us-container">    
      <h3>¿En qué país basamos nuestras ofertas?</h3>
      <p>Principalmente trabajamos para un publico español, seleccionando las mejores ofertas de viajes disponibles en España.</p>
    </div>
    <div class="about-us-container">
        <h3>¿Cómo encontramos las ofertas de viaje?</h3>
        <p>
            Nuestro equipo de expertos explora diversas bases de datos para identificar los mejores viajes de temporada y 
            compara precios entre ellos, con el objetivo de proporcionar las oportunidades más atractivas para nuestros 
            viajeros.
        </p>
    </div>
    <div class="about-us-container">
        <h3>Quiero una oferta personalizada</h3>
        <p>
            Si deseas una oferta personalizada para un viaje específico, puedes ponerte en contactos con nosotros a través de nuestras 
            redes sociales o nuestro correo <a href="mailto:info@rinconviajero.com">info@rinconviajero.com</a></p>
    </div>
    <div class="about-us-container">
        <h3>¿Problemas con la reserva?</h3>
        <p>
            Nosotros encontramos y proporcionamos las mejores ofertas de numerosas agencias de viajes en linea, si necesitas ajustar, cancelar o buscar apoyo con tu reserva, 
            por favor contácta con la empresa encargada directamente.
        </p>
    </div>
    <div class="about-us-container">
        <h3>¿Cómo puedo contactar con ustedes?</h3>
        <p>
            Puedes contactar con nosotros a través de nuestra redes sociales o enviándonos un correo a
            <a href="mailto:info@rinconviajero.com">info@rinconviajero.com</a>. Estaremos encantados de asistirte o proporcionarte ofertas personalizadas.</p>
    </div>
</div>
{% endblock %}