{% extends "base.html" %}
{% block contents %}
<div class="container mt-5 warning-container">
    <h1>Política de Cookies</h1>
    <p>En Rincón Viajero, utilizamos cookies para mejorar tu experiencia en nuestro sitio web. Esta política de cookies explica qué son las cookies, cómo las utilizamos y cómo puedes gestionar tus preferencias.</p>
    
    <h2>¿Qué son las cookies?</h2>
    <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas un sitio web. Las cookies permiten que el sitio web recuerde tus acciones y preferencias (como inicio de sesión, idioma, tamaño de fuente y otras preferencias de visualización) durante un período de tiempo, para que no tengas que volver a configurarlas cada vez que vuelves al sitio o navegas de una página a otra.</p>
    
    <h2>¿Cómo utilizamos las cookies?</h2>
    <p>Utilizamos cookies para los siguientes propósitos:</p>
    <ul>
        <li><strong>Cookies esenciales:</strong> Estas cookies son necesarias para que el sitio web funcione y no se pueden desactivar en nuestros sistemas. Se suelen configurar en respuesta a acciones realizadas por ti, como configurar tus preferencias de privacidad, iniciar sesión o completar formularios.</li>
        <li><strong>Cookies de rendimiento:</strong> Estas cookies nos permiten contar las visitas y fuentes de tráfico para poder medir y mejorar el rendimiento de nuestro sitio. Nos ayudan a saber qué páginas son las más y las menos populares y a ver cómo se mueven los visitantes por el sitio.</li>
        <li><strong>Cookies funcionales:</strong> Estas cookies permiten que el sitio web proporcione una mejor funcionalidad y personalización. Pueden ser establecidas por nosotros o por terceros cuyos servicios hemos agregado a nuestras páginas.</li>
        <li><strong>Cookies de marketing:</strong> Estas cookies pueden ser establecidas a través de nuestro sitio por nuestros socios publicitarios. Pueden ser utilizadas por esas empresas para crear un perfil de tus intereses y mostrarte anuncios relevantes en otros sitios.</li>
    </ul>
    
    <h2>Cookie Consent</h2>
    <p>Utilizamos la herramienta Cookie Consent para gestionar el consentimiento de las cookies en nuestro sitio web. Esta herramienta te permite aceptar o rechazar las cookies no esenciales cuando visitas nuestro sitio por primera vez. Puedes cambiar tus preferencias de cookies en cualquier momento haciendo clic en el enlace "Gestionar Cookies" en el pie de página.</p>
    
    <h2>Google Analytics</h2>
    <p>Este sitio utiliza Google Analytics para recopilar información anónima, como el número de visitantes al sitio y las páginas más populares. Al aceptar nuestras cookies de rendimiento, estás de acuerdo con el uso de Google Analytics.</p>
    
    <h2>Cómo gestionar las cookies</h2>
    <p>Puedes controlar y/o eliminar las cookies como desees. Para más información, consulta <a href="https://aboutcookies.org">aboutcookies.org</a>. Puedes eliminar todas las cookies que ya están en tu ordenador y puedes configurar la mayoría de los navegadores para que no se acepten. Sin embargo, si haces esto, es posible que tengas que ajustar manualmente algunas preferencias cada vez que visites un sitio y que algunos servicios y funcionalidades no funcionen.</p>
    
    <p>Si tienes alguna pregunta sobre nuestra política de cookies, puedes contactarnos en <a href="mailto:info@rinconviajero.com">info@rinconviajero.com</a>.</p>
</div>
{% endblock %}