{% extends "base.html" %}
{% block contents %}
<div class="container warning-container">
    <h1>Aviso Legal</h1>
    
    <h2>1. Información General</h2>
    <p>
        En cumplimiento con el deber de información estipulado en la Ley 34/2002 de Servicios de la Sociedad de la Información y del Comercio Electrónico (LSSI-CE) del 11 de julio, se facilitan a continuación los datos de información general de este sitio web:
    </p>
    <ul>
        <li>Nombre de la empresa: [Nombre de la empresa]</li>
        <li>Domicilio social: [Dirección de la empresa]</li>
        <li>CIF: [CIF de la empresa]</li>
        <li>Teléfono: [Número de teléfono]</li>
        <li>Email: [Correo electrónico]</li>
    </ul>

    <h2>2. Condiciones de Uso</h2>
    <p>
        El uso del sitio web otorga la condición de usuario e implica la aceptación plena y sin reservas de todas y cada una de las 
        disposiciones incluidas en este Aviso Legal en la versión publicada por [Nombre de la empresa] en el momento mismo en que el 
        usuario acceda al sitio web. En consecuencia, el usuario debe leer atentamente el presente Aviso Legal en cada una de las 
        ocasiones en que se proponga utilizar el sitio web, ya que puede sufrir modificaciones.
    </p>

    <h2>4. Propiedad Intelectual e Industrial</h2>
    <p>
        Todos los contenidos del sitio web, salvo que se indique lo contrario, son titularidad exclusiva de [Nombre de la empresa] y, 
        con carácter enunciativo, pero no limitativo, el diseño gráfico, código fuente, logotipos, textos, gráficos, ilustraciones, 
        fotografías, y otros elementos que aparecen en el sitio web. Igualmente, todos los nombres comerciales, marcas o signos distintivos 
        de cualquier clase contenidos en el sitio web están protegidos por la Ley.
    </p>

    <h2>5. Limitación de Responsabilidad</h2>
    <p>
        [Nombre de la empresa] no garantiza la inexistencia de errores en el acceso al sitio web, en su contenido, ni que éste se encuentre 
        actualizado, aunque [Nombre de la empresa] desarrollará sus mejores esfuerzos para, en su caso, evitarlos, subsanarlos o actualizarlos. 
        Tanto el acceso al sitio web como el uso que pueda hacerse de la información contenida en el mismo es de la exclusiva responsabilidad de 
        quien lo realiza.
    </p>

    <h2>6. Legislación y Jurisdicción Aplicable</h2>
    <p>
        El presente Aviso Legal se rige en todos y cada uno de sus extremos por la ley española. Para la resolución de cualquier conflicto que pudiera derivarse del acceso al sitio web, el usuario y [Nombre de la empresa] acuerdan someterse expresamente a los juzgados y tribunales de la ciudad de [Ciudad], con renuncia a cualquier otro fuero general o especial que les pudiera corresponder.
    </p>
</div>
{% endblock %}